.page {
  overflow: auto;
  position: relative;

  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  -webkit-filter: blur(120px);
  filter: blur(120px);

  display: block;
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
  background-image: url("https://github.com/LoKrish/spring-boot-simple-application/blob/master/60607f1149a5d.jpg?raw=true");
}
