.home__bd-grid .home__image {
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  width: 100px;
  display: flex;
  justify-content: flex-end;
  padding-top: 70px;
  padding-right: 50px;
  position: relative;
}

.home__bd-grid {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__bd-grid .home__data {
  max-width: 750px;
  position: relative;
  font-size: 35px;
}

.home__bd-grid .home__data .home__title {
  position: relative;
  display:inline-block;
  margin-top: 0px;
  padding: 7px 80px;
  color: black;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
}

.home__bd-grid .home__data .home__title h1 {
  display: inline-block;
  line-height: 1.4em;
}

.home__description{
  font-size: 16px;
  padding: 24px 80px;
  position: relative;
  letter-spacing: 1.5px;
  text-decoration: none;
}

.home__title__color{
  color:rgb(249, 150, 49);
  font-weight: 600  ;
}
