* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 80px;
  border: 0px;
  position: fixed;
  padding: 0 30px;
  font-size: 20px;
  line-height: 80px;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a.navbar-logo {
  float: left;
  height: inherit;
  line-height: inherit;
  padding: 0 50px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
}

.navbar a.navbar-logo span {
  font-size: 28px;
  font-weight: 700;
}

.navbar ul {
  list-style: none;
  float: right;
  height: inherit;
  line-height: inherit;
  padding: 0 50px;
}

.navbar ul li {
  display: inline-block;
  padding: 0 20px;
}

.navbar ul li a {
  display: block;
  text-align: center;
  min-width: 50px;
}

.navbar ul li button {
  margin: 20px;
}

.custom-btn {
  width: 158px;
  height: 40px;
  color: #ffff;
  font-weight: 550;
  font-size: 20px;
  text-align: center;
  vertical-align: center;
  line-height: 8px;
  font-display: center;
  border: 0;
  border-radius: 50px;
  padding: 10px 25px;
  background: rgb(249, 150, 49);
  background: -moz-linear-gradient(
    0deg,
    rgba(249, 150, 49, 1) 0%,
    rgba(254, 217, 96, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(249, 150, 49, 1) 0%,
    rgba(254, 217, 96, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(249, 150, 49, 1) 0%,
    rgba(254, 217, 96, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: -4px -4px 25px 0 rgba(254, 217, 96, 1), 7px 7px 25px 0 #ffad38;
}

.navbar ul li a.home-color {
  color: #ffad38;
}
